<div id="<%= dom_id feedback %>">
  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= feedback.product_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= feedback.content %>
  </p>

</div>
